# Q1. What is a database? Differentiate between SQL and NoSQL databases

### A database is an organized collection of structured information, or data, typically stored electronically in a computer system. The data in common databases is modeled in tables, making querying and processing efficient. Structured query language (SQL) is commonly used for data querying and writing.

### differnces between SQL and NoSQl are as follows:
### 1- SQL databases are relational, and NoSQL databases are non-relational.
### 2- SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
### 3- SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
### 4- SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
### 5- SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

### DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data

### CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
### example - CREATE TABLE Customer(
###               CustomerID INT PRIMARY KEY,
###               CustomerName VARCHAR(50),
###               LastName VARCHAR(50),
###               Country VARCHAR(50),
###               Age int(2),
###               Phone int(10)
###           );

### DROP: This command is used to delete objects from the database.
### example - DROP TABLE Customer

### ALTER: This is used to alter the structure of the database.
### example -  ALTER TABLE Customers
###            ADD Email varchar(255);

### TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
### example - TRUNCATE TABLE Customer

# Q3 What is DML? Explain INSERT, UPDATE, and DELETE with an example

### DML(Data Manipulation Language) is SQL commands that deal with the manipulation of data present in the database .It is the component of the SQL statement that controls access to data and to the database.

### INSERT: It is used to insert data into a table.
### example - INSERT INTO Student VALUES 
###           ('5','HARSH','WEST BENGAL',
###           'XXXXXXXXXX','19');

### UPDATE: It is used to update existing data within a table.
### example - UPDATE Customer SET CustomerName = 'Nitin' WHERE Age = 22;

### DELETE: It is used to delete records from a database table.
### example - DELETE FROM GFG_Employees WHERE NAME = 'Rithvik';

# Q4. What is DQL? Explain SELECT with an example

### DQL or Data Query Language is a component of SQL statement that allows getting data from the database and imposing order upon it

### SELECT - is used to retrieve data from the database.
### example - SELECT CustomerName, LastName FROM Customer;

# Q5. Explain Primary Key and Foreign Key

### A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

### A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

### cursor()- It is an object that is used to make the connection for executing SQL queries. It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database.

### execute () - The execute () method helps us to execute the query and return records according to the query.

In [ ]:
import mysql.connector
# Creating connection object
mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    password = "your_password"
)

mydb.close()

# Q7. Give the order of execution of SQL clauses in an SQL query

### Order of execution in SQL query is :
### 1- FROM/JOIN
### 2- WHERE
### 3- GROUP BY
### 4- HAVING
### 5- SELECT
### 6- ORDER BY
### 7- LIMIT/OFFSET