# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

### MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database. 

### Non-relational databases (often called NoSQL databases) are different from traditional relational databases in that they store their data in a non-tabular form. Instead, non-relational databases might be based on data structures like documents. A document can be highly detailed while containing a range of different types of information in different formats. This ability to digest and organize various types of information side by side makes non-relational databases much more flexible than relational databases.

### We use MongoDb in the following scenarios:
### 1 - When we need high availability of data with automatic, fast and instant data recovery.
### 2 - If most of your services are cloud-based, MongoDB is best suitable for us.
### 3 - If we don't have a Database Administrator 
### 4 - If you have an unstable schema and you want to reduce your schema migration cost.

# Q2. State and Explain the features of MongoDB

### 1 - Schema-less Database: A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size.

### 2 - Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

### 3 - Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data.

### 4 - Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

### 5 - Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

### 6 - Aggregation: It allows to perform operations on the grouped data and get a single result or computed result.It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

### 7 - High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 18.3 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 37.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient
client = MongoClient('mongodb+srv://xtinson:Devashish21@cluster0.zaido9g.mongodb.net/?retryWrites=true&w=majority')

In [4]:
db=client['pwskil']
coll_cre=db['my_record']

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
data={
    "name":"honda",
    "version":"petrol",
    "drive":"allwheel"
}
coll_cre.insert_one(data)
data1=[{
    "name":"tata",
    "version":"diesel",
    "drive":"rear"
},
    
    {
    "name":"mahindra",
    "version":"diesel",
    "drive":"front"
}]
coll_cre.insert_many(data1)

InsertManyResult([ObjectId('65701f5195e8a83f822ca33b'), ObjectId('65701f5195e8a83f822ca33c')], acknowledged=True)

In [10]:
for i in coll_cre.find():
    print(i)

{'_id': ObjectId('656f89222276cf1f18395075'), 'name': 'honda', 'version': 'petrol', 'drive': 'allwheel'}
{'_id': ObjectId('656f89222276cf1f18395076'), 'name': 'tata', 'version': 'diesel', 'drive': 'rear'}
{'_id': ObjectId('656f89222276cf1f18395077'), 'name': 'mahindra', 'version': 'diesel', 'drive': 'front'}

In [13]:
coll_cre.find_one()

{'_id': ObjectId('656f89222276cf1f18395075'),
 'name': 'honda',
 'version': 'petrol',
 'drive': 'allwheel'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this

### Executes a query and returns the first batch of results and the cursor id, from which the client can construct a cursor.

In [4]:
db=client['school']
coll_cre=db['class']

In [25]:
stu=[{
    "name":"sachin",
    "marks":"82",
    "rank":"5"
},
    
    {
    "name":"saurav",
    "marks":"88",
    "rank":"3"
}]

In [26]:
coll_cre.insert_many(stu)

InsertManyResult([ObjectId('657382f6e5610ec312ed6658'), ObjectId('657382f6e5610ec312ed6659')], acknowledged=True)

In [23]:
stu1=[{
    "name":"sachin",
    "marks":"89",
    "rank":"2"
},
    
    {
    "name":"rajesh",
    "marks":"78",
    "rank":"7"
}]
coll_cre.insert_many(stu1)

InsertManyResult([ObjectId('657382dee5610ec312ed6656'), ObjectId('657382dee5610ec312ed6657')], acknowledged=True)

In [12]:
for i in coll_cre.find({"name":"sachin"}):
    print(i)

{'_id': ObjectId('65737922e5610ec312ed6652'), 'name': 'sachin', 'marks': '82', 'rank': '5'}
{'_id': ObjectId('65737a0de5610ec312ed6654'), 'name': 'sachin', 'marks': '89', 'rank': '2'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

In [15]:
for i in coll_cre.find().sort({"rank":1}):
    print(i)

{'_id': ObjectId('65737a0de5610ec312ed6654'), 'name': 'sachin', 'marks': '89', 'rank': '2'}
{'_id': ObjectId('65737922e5610ec312ed6653'), 'name': 'saurav', 'marks': '88', 'rank': '3'}
{'_id': ObjectId('65737922e5610ec312ed6652'), 'name': 'sachin', 'marks': '82', 'rank': '5'}
{'_id': ObjectId('65737a0de5610ec312ed6655'), 'name': 'rajesh', 'marks': '78', 'rank': '7'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

### delete_one()- The deleteOne() method deletes the first document from the collection that matches the given selection criteria. It will delete/remove a single document from the collection. It takes four parameters, the first parameter is the selection criteria and the others are optional.

In [27]:
coll_cre.delete_one({"name":"sachin"}) # delets the first occurance of name sachin

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000e0'), 'opTime': {'ts': Timestamp(1702068997, 7), 't': 224}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702068997, 7), 'signature': {'hash': b'\xf4\x07\xae#j\x9dM\xee\x01\x05\x8f\x92nI\x8c\x94\x9e-f\xec', 'keyId': 7263471583723782146}}, 'operationTime': Timestamp(1702068997, 7)}, acknowledged=True)

In [28]:
for i in coll_cre.find():
    print(i)

{'_id': ObjectId('657382dee5610ec312ed6657'), 'name': 'rajesh', 'marks': '78', 'rank': '7'}
{'_id': ObjectId('657382f6e5610ec312ed6658'), 'name': 'sachin', 'marks': '82', 'rank': '5'}
{'_id': ObjectId('657382f6e5610ec312ed6659'), 'name': 'saurav', 'marks': '88', 'rank': '3'}

### delete_many() Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
### syntax: collection.delete_many(filter, collation=None, hint=None, session=None)

In [33]:
coll_cre.delete_many({"name": {"$regex": "^s"}}) # delets name starting with s

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff00000000000000e0'), 'opTime': {'ts': Timestamp(1702069589, 49), 't': 224}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702069589, 49), 'signature': {'hash': b'&]\xcb\x16\xcf\xaa\x07\x03\xa13\xbb\xcd/Z\xbd.\xe9\x95\x7fr', 'keyId': 7263471583723782146}}, 'operationTime': Timestamp(1702069589, 49)}, acknowledged=True)

In [34]:
for i in coll_cre.find():
    print(i)

{'_id': ObjectId('657382dee5610ec312ed6657'), 'name': 'rajesh', 'marks': '78', 'rank': '7'}

### drop() - Using drop() method we can drop collection if collection exists. If collection is not found then it returns False otherwise it returns True if collection is dropped.

In [35]:
if coll_cre.drop():
    print('Deleted')
else:
    print('Not Present')

Not Present