# Q1. What are the characteristics of the tuples? Is tuple immutable?

### Tuples are ordered ,they can be indexed and they are unchangeable.
### tuple is immutable. the internal stored data can not be changed after it is created

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-   built methods as compared to Lists.

### the two tuple methods in python are count and index

In [25]:
s=(2,3,4,5,5)
lent=s.count(5)
print (lent) #value of len is 2 as 5 occurs 2 times
ind =s.index(5)
print (ind) #first time occurance of 5 is at index 3

2
3

### since tuples are immutable hence changes can not be done in it hence it has only two built in functions

# Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to removeduplicates from the given list. List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

### SET data type does not allow duplication in python

In [1]:
ls=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [2]:
se=set(ls)

In [3]:
se

{1, 2, 3, 4}

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

### when two sets are added using update function a no new set is created with updated value. whereas when union function is used a new set is created and the values are updated with both orignal sets being unchanged

In [1]:
#update method
s1={1,2,3}
s2={4,5,6}
s2.update(s1)

In [2]:
s1

{1, 2, 3}

In [3]:
s2

{1, 2, 3, 4, 5, 6}

In [4]:
#union method
s3={7,8,9}
s4={0,3,5}
s5=s3.union(s4)

In [5]:
s3

{7, 8, 9}

In [6]:
s4

{0, 3, 5}

In [7]:
s5

{0, 3, 5, 7, 8, 9}

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

### a dictionary is a data type used to store data in key and value pairs

In [8]:
 thisdic={"brand":"ford","model":"mustang","year":"1969"}

In [9]:
thisdic

{'brand': 'ford', 'model': 'mustang', 'year': '1969'}

### dictionaries are ordered

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [10]:
# yes a nested dictionary can be created the example is given below:
dic1={"grandfather":{"father":"son"}}

In [11]:
dic1

{'grandfather': {'father': 'son'}}

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [16]:
dic2={'language' : 'Python', 'course': 'Data Science Masters'}

In [17]:
dic2

{'language': 'Python', 'course': 'Data Science Masters'}

In [18]:
dic2.setdefault("topics",['Python', "Machine Learning", "Deep Learning"])

['Python', 'Machine Learning', 'Deep Learning']

In [19]:
dic2

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary. dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

### the three view objects in dictionaries are key, values and items

In [20]:
dict3 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [23]:
dict3

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [24]:
dict3.keys()

dict_keys(['Sport', 'Teams'])

In [25]:
dict3.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [26]:
dict3.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])